$button-color: #005c99;
$button-hover: #23527c;
$super-black-color: #000000;
$black-color: #222222;
$cross-btn-color: #9F9F9F;
$white-color: #FFFFFF;
$cart-price-form-bkg-color: #F5F3F3;
$input-border: #A4A4A4;
$red-color: #DC143C;
$green-color: #3CB371;
$footer-top-color: #F8F8F8;
$subscribe-input: #E1E1E1;
$main-bkg-color: #F8F8F8;
$warning-text: #856404;
$warning-bkg:#fff3cd;
$warning-border: #ffeeba;
$search-placeholder: #B1B1B1;
$hr-color: #E2E2E2;
$data-error: #CD5C5C;