.feedback-form {
	margin: 30px 0 50px 0;

	&__fieldset {
		margin: 0 0 30px 0;
	}

	&__button {
		min-width: 100px;
		min-height: 50px;
		width: 100%;
		padding: 10px 15px;
		border: 1px solid $button-color;
		background-color: $button-color;
		border-radius: 3px;
		color: $white-color;
		@include font(13px, 16px, 700);
		text-transform: uppercase;
		cursor: pointer;
	}

	&__button:hover {
		border: 1px solid $button-hover;
		background-color: $button-hover;
	}
}